{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content%}
<h2 align="center">Welcome to the home page, {{ user.email.split('@')[0] }}!</h1>
<h2 align="center">Your Selected Stock List</h1>
<button class="btn btn-primary" onClick="window.open('/', '_self');">Refresh Stock Price</button>
    <div class="stock-container">
    {% for note in user.notes %}
        <div class="stock" ><a style="font-size:30px;" href="/stock/{{note.data}}">{{ note.data }}</a>
            <button type="button" class="close" onclick="deleteNote('{{note.id}}')"> 
                <span aria-hidden="true">&times;</span>
            </button>
            <p class="stock-price"> ${{ note.price }}</p>
        </div> 
    {% endfor %}
</div>

<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary"> Add Stock Code</button>
    </div>
</form>

<script> // This script will refresh the stock price everytime you open the home page
function refreshPrice(){
    fetch('/refresh-stock', {
        method: 'POST',
        body: ""
    }).then((_res) => {
        
    });
}
refreshPrice();
</script>
{% endblock %}
