{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content%}
<h2 align="center">Welcome to the home page, {{ user.email.split('@')[0] }}!</h1>
<h2 align="center">Your Selected Stock List</h1>
<button class="btn btn-primary" onClick="window.open('/', '_self');">Refresh Stock Price</button>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item" ><b style="font-size:30px;">{{ note.data }}</b>
        <button type="button" class="close" onclick="deleteNote('{{note.id}}')"> 
            <span aria-hidden="true">&times;</span>
        </button>
        <p>Price: ${{ note.price }}</p>
    </li> 
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary"> Add Stock Code</button>
    </div>
</form>

<script>
    function tempFunction(){
    // do whatever you like here
    fetch('/refresh-stock', {
        method: 'POST',
        body: ""
    }).then((_res) => {
        
    });
    //
}
tempFunction();
</script>
{% endblock %}
