{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content%}
<!-- data is the stock price over year -->

<h1> Welcome to the stock page of <span style="color:#ff4113;">{{name}}({{stock.data}})</span></h1>
<h1 style="font-size: 30px;">Current stock price per share is <span style="color: green;"> ${{stock.price}}</span>, here's the price trend of recent 8 weeks</h1>
<!-- char.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script> 

<div>
    <canvas id="chart" width="400" height="350"></canvas>
</div>


<script>
    const ctx = document.getElementById('chart')

    // X coordinate comes from date
    var xlabels = '{{ date }}';
    var temp = xlabels.split(';,');
    
    xlabels = temp.map(function(x) {
        //var d = x.substring(11,16)
        var d = x.replace(";","");
        var d = d.replace("&#39","");
        var d = d.replace("&#39","");
        var d = d.replace("[","");
        var d = d.replace("]","");
        var d = d.replace(";","");
        return d; 
    });
    //window.alert(xlabels);
    // Y coordinate comes from price
    var ylabels = '{{ price }}';
    ylabels = ylabels.substring(1, ylabels.length - 1);
    temp = ylabels.split(',');
    ylabels = temp.map(function(x) {
        var parsedValue = parseFloat(x.trim());
        return parseFloat(parsedValue); // Parse each element as an double
    });
    //window.alert(price);
    //The Chart window constructor
    new Chart(ctx, {
      type: 'line',
      //type: 'bar',
      data: {
        labels: xlabels,
        datasets: [{
          label: 'stock price',
          data: ylabels,
          borderWidth: 1,
          backgroundColor: [
      'rgba(0, 128, 0, 1)'
        ],
        borderColor: [
      'rgb(0, 128, 0)',
    ]
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: false
          }
        }
      }
    });
</script>
{% endblock %}





