#tickers-grid {
    display: flex;
    flex-wrap: wrap;
}

.stock-box {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    transition: background-color 0.5s;
    background: #eee;
}

.dark-red {
    color: #880000;
}

.red {
    color: #FF0000;
}

.grey {
    color: #808080;
}

.green{
    color: #008000;
}

.dark-green{
    color: #006600;
}

#tickers-grid {
    display: flex;
    flex-wrap: wrap;
}

.red-flash{
    transition: background-color 1s;
    background-color: #ffcccc !important;
}

.green-flash{
    transition: background-color 1s;
    background-color: #ccffcc !important;
}

.grey-flash{
    transition: background-color 1s;
    background-color: #ccc !important;
}



.stock-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .stock {
    width: 200px; 
    height: 130px; 
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
  }


  .stock-price {
    margin-top: 20px;
    font-size: 20px;
    color: #4CAF50;
  }
  


  /* ee */
  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;	
      font-family: "Poppins", sans-serif;
  }
  
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #6CB4EE
      
  }
  

  .wrapper {
      width: 420px;
      background: #89CFF0;
      color: #fff;
      border-radius: 10px;
      padding: 30px 40px;
  }
  .wrapper h1{
      font-size: 36px;
      text-align: center;
  }
  
  .wrapper .input-box{
      position: relative;
      width: 100%;
      height: 50px;
      margin: 30px 0;
  }
  .input-box input{
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      border: 2px solid rgba(255,255,255,0.2);
      border-radius: 40px;
      font-size: 16px;
      color:#fff;
      padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder{
      color: #fff;
  }
  .input-box i{
      position: absolute;
      right: 20px;
      font-size: 20px;
      top: 50%;
      transform: translateY(-50%);
  }
  
  .wrapper .remember-forget{
      display: flex;
      justify-content: space-between;
      font-size: 14.5px;
      margin: -15px 0 15px;
  }
  .remember-forget label input{
      accent-color: #fff;
      margin-right: 3px;
  }
  .remember-forget a{
      color: #fff;
      text-decoration: none;
  }
  .remember-forget a:hover{
      text-decoration: underline;
  }
  .wrapper .btn{
      width: 100%;
      height: 45px;
      border: none;
      outline: none;
      border-radius: 40px;
      background: #fff;
      color: black;
      font-size: 18px;
      cursor: pointer;
      transition: 0.5s;
  }
  .wrapper .register-link{
      font-size: 14.5px;
      text-align: center;
      margin: 20px 0 15px;
  }
  .register-link p a{
      color: #fff;
      text-decoration: none;
      font-weight: 600;
  }
  .register-link p a:hover{
      text-decoration: underline;
  }	
   */